parnter show page



<article class="container logobox">
     
       
        <div class="col-sm-12">
            <h3 class="goalproftitle"> <%= @parnter.first_name %> <%= @partner.last_name</h1>
        </div>
    <div class="goalprofbox">
        <div class="col-sm-0">
          </div>
          <div class="col-sm-6">
              <img class="goalprofpic" src="<%= @goal.goal_pic %>" width="350px" >
          </div>
          <div class="col-sm-6">
              <p class="goaldead"> </p>
              <p class="goaldead">  </p>
              <h4>Partners: </h4>
          <p class="goaldead">  </p>
        <% end %>
     <div class="col-sm-0">
         </div>
    </div>

              
  </div>
