<h3></h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>

<article class="container featured users">
	<div class="col-sm-3 feat hm">
		<h2>Goal</h2>
		<h3>Name</h3>
		Pic
	</div> 
	<div class="col-sm-3 feat hm">
		<h2>Goal</h2>
		<h3>Name</h3>
		Pic
	</div>  
	<div class="col-sm-3 feat hm">
		<h2>Goal</h2>
		<h3>Name</h3>
		Pic
	</div> 
	<div class="col-sm-3 feat hm">
		<h2>Goal</h2>
		<h3>Name</h3>
		Pic
	</div> 
</article>

