<h3></h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>

<article class="row mission">
	<h2 class="statement">Don't keep sitting on your ass.  Get up and do shit!</h2>
</article>

