<h3></h3>


 


<article class="container stepboxbig">
    <div class="row">
        <div class="col-sm-3">
        	<div class="">
	          	<div class="steptitlebox">
	          		<h2 class=""> </h2>
	          	</div>
	          	<div class="stepparbox panel1">
	          		<p class="steppar"> What's that one thing you've always wanted to do, but you've put off because of fear? Now's the time to do it!</p>
	          	</div>
	          	<p class="slide"><a href="#boutme" class="pull-me1">1. Set Your Goal</a></p>
	        </div>
        </div>


         <div class="col-sm-3">
        	<div class="">
	          	<div class="steptitlebox">
	          		<h2 class=""> </h2>
	          	</div>
	          	<div class="stepparbox panel2">
	          		<p class="steppar"> So your in? To make sure you get there, you'll set yourself a deadline and some measurable next steps. How cool will it be to look back on all that you've accomplished once you get there? </p>
	          	</div>
	          	<p class="slide"><a href="#boutme" class="pull-me2">2. Set a Deadline </a></p>
	        </div>
        </div>


         <div class="col-sm-3">
        	<div class="">
	          	<div class="steptitlebox">
	          		<h2 class=""> </h2>
	          	</div>
	          	<div class="stepparbox panel3">
	          		<p class="steppar">So what's our big secret at GoForIt? That your goal will be no secret at all! You can't do this alone. You'l enlist partners that will be automatically reminded to check up on your progress and goals to ensure it happens!  </p>
	          	</div>
	          	<p class="slide"><a href="#boutme" class="pull-me3">3. Invite Friends! </a></p>
	        </div>
        </div>

         <div class="col-sm-3">
        	<div class="">
	          	<div class="steptitlebox">
	          		<h2 class=""> </h2>
	          	</div>
	          	<div class="stepparbox panel4">
	          		<p class="steppar">Get that six pack, change your career, learn that instrument... whatever! Once you get to the finish line with one thing, you'll be addicted to setting goals in community. So add more, and keep living it up! </p>
	          	</div>
	          	<p class="slide"><a href="#boutme" class="pull-me4">4. Win in Life! </a></p>
	        </div>
        </div>

    

        <!-- <div class="col-sm-3">
        	<div class="stepbox">
	        	<div class="steptitlebox">
	        		<h2 class="steptitle">4. Accomplish Your Goals! </h2>
	        	</div>
	        	<div class="stepparbox">
	        		<p class="steppar"> Get that six pack, change your career, learn that instrument... whatever! Once you get to the finish line with one thing, you'll be addicted to setting goals in community. So add more, and keep living it up!</p>
	        	</div>
	        </div>
        </div> -->

    </div>
</article>

<article class="row mission">
	<h2 class="statement">Don't keep sitting on your duff.  Get up and do something!</h2>
</article>


