// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }









//////////////// Nav Styles //////////////////////

.navbar-inverse .navbar-nav > li > a {
  color: #575656;
}

.navbar-inverse {
  border-color: white;
}





//////////////// Body Styles /////////////////////

.logo {
 text-align: center;
 font-family: corki;
 font-size: 2.5em;
 color: white;
 text-decoration: none;
}
.logo a:link {
color: #575656;
}
.logo a:visited {
color: #575656;
}
.logo a:active {
color: #575656;
}
.logo a:hover {
color:#759B84;
}


.tagline {
  margin-top: -13px;
  text-align: center;
  font-family: corki;
  color: #575656;
}

.navback {
  background-color: #8FBC8F;
  opacity: 3;
}

body {
  background-color: #8FBC8F;
}

.feat {
  color: #575656
}

a.links {
  color: #759B84;
}

links a:hover {
color: #575656;
}


.hm {
  border: 1px solid black;
}

.mission {
  background-color: #EAEBE7;
  margin-top: 350px;
}

.statement {
  font-family: corki;
  font-size: 2.5em;
  text-align: center;
}

///////////////// User_Goals /////////////////////

.goals {
  height: 300px;
  display:table;
  color: #575656;
}
.goalhead {
   text-align: center;
  font-size: 4em;
  font-family: corki;
  margin-left: 5px;
}

.goalbox {
  padding: 10px;
  height: 350px;
  background-color: #EAEBE7;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.goaltitle {
  height: 80px;
  font-family: corki;
  font-size: 2em;
  text-align: left;
}

.goaldes {
  height: 100px;
}

//////////////// User_Profile //////////////////////

.username {
  font-family: corki;
  text-align: left;
  font-size: 1.9em;
}

.email {
  text-align: left;
  font-size: 1.2em;
  font-family: corki
}

.userinfo {
  background-color: #EAEBE7;
  height: 180px;
  padding: 10px
}

/////////////// Goal Show Page //////////////////////

.goalprofpic {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.goalproftitle {
  font-family: corki;
  font-size: 2em;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
}

.goaldead {
  font-size: 1.3em;
}

.goalprofbox {
  height: 400px;
  background-color: #EAEBE7;
}







































